:root{
    --azul: #222c81;
    --dark: #434343;
    --blanco: #FFFFFF;
    --dark-transparent: rgba(67, 67, 67, .9);
    --azul-transparent: rgba(34, 44, 129, .9);
}
*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Titillium";
    src: url(../../assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf);
}
@font-face {
    font-family: "Viga";
    src: url(../../assets/fonts/Viga/Viga-Regular.ttf);
}
/*GENERALES-------*/
body{
    font-family: "Titillium";
}
h1,h2,h3,h4,h5,h6{
    font-family: "Viga";
    font-weight: 800;
    color: var(--azul);
}
.txt{
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1600 - 300)));
}
.container-fluid {
    padding-right: 7% !important;
    padding-left: 7% !important;
}

.bg-transparent{
    transition: all 1s ease;
}

.bg-white{
    transition: all 1s ease;
    background-color: var(--blanco);
    -webkit-box-shadow: 0px 7px 19px -8px #000000; 
    box-shadow: 0px 7px 19px -8px #000000;
}

.bg-white ul.navbar-nav a{
    color: var(--azul) !important;
    font-weight: 600;
}

.bg-transparent ul.navbar-nav a{
    color: var(--azul) !important;
    font-weight: 600;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler-icon{
    background-image: url(../../img/icons/toggler-icon-blue.svg);
}
.dropdown .dropdown-menu{
    border: none;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown-menu>.dropdown-item:hover {
    background-color: transparent !important;
}

.footer {
    background-color: var(--azul);
    color: white !important;
}
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6{
    color: white !important;
}
.footer .info {
    font-size: calc(10px + (15 - 10) * ((100vw - 300px) / (1600 - 300)));
    list-style: none !important;
    padding: 0;
}

.footer .info a {
    color: white;
}

.footer .fa-circle {
    color: white;
    line-height: inherit;
}

.footer .fa-facebook, .footer .fa-twitter, .footer .fa-instagram, .footer .fa-linkedin {
    color: var(--azul);
}



/*Filosofia*/
#accordionValores a:hover{
    border-bottom: 2px solid var(--azul);
    color: var(--azul) !important;
}